
.app-shell {
    height: 100%;
    display: flex;
    flex-direction: column;
}


.app-topbar {
    height: 60px;
    flex: 0 0 auto;
}


.app-body {
    flex: 1;
    display: flex;
    min-height: 0;
}


.app-sidebar {
    width: 280px;
    flex: 0 0 auto;
    height: 100%;
}


.app-content {
    flex: 1;
    height: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
    min-width: 0;
}
